

body {
    box-sizing: border-box;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

div.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    background-image: url('../baitaplon/bg-header.jpg');
}

div.menu > div:nth-child(2) > li {
    position: absolute;
    right: 25px;
    list-style: none;
    border-radius: 25px;
    border: none;
    background-color: #29a9d0;
    text-decoration: none;
    font-size: 16px;
}

div.menu > div:nth-child(2) > li:first-child {
    position: absolute;
    width: 93px;
    height: 40px;
    color: white;
    margin-right: 80px;
    line-height: 40px;
    z-index: 5;
}

div.menu > div:nth-child(2) > li:nth-child(2) {
    position: relative;
    width: 105px;
    height: 40px;
    line-height: 40px;
    z-index: 4;
    padding-left: 3px;
    background-color: #87e7e5;
}

div.menu > div:nth-child(2) a {
    display: inline-block;
    border: 1px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    width: inherit;
    height: inherit;
}

div.menu > div[class="first"] {
    display: flex;
    margin-top: 0;
    align-items: center;
}

div.menu > div:first-child > p {
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.565);
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    margin-left: 25px;
    font-weight: 100;
}

div.menu > img:first-child {
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    width: 111px;
    height: 90px;
}

div.instruction {
    background-color: #38444d;
    width: 100%;
    overflow: hidden;
}

div.instruction > nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;
}

nav li {
    text-decoration: none;
    background-color: #38444d;
    box-sizing: border-box;
    border-width: 1px;
    float: left;
}

li a {
    text-decoration: none;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropbtn {
    display: inline-block;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #2a3035;
}

.dropdown-content {
    display: none;
    background-color: #38444d;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #9dcef3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-container {
    float: right;
}

.search-container,
.dropbtn:hover {
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content1 {
    display: block;
    right: 0;
}

h3#seachan {
    font-size: 18px !important;
}

.hoso {
    background-image: url(https://www.w3schools.com/images/background_in_space.gif);
    background-color: rgb(128, 128, 128);
    height: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    max-width: 100%;
}

.w3-content,
.w3-auto {
    margin-left: auto;
    margin-right: auto;
}

.learntocodeh1 {
    color: white;
}

form.example {
    position: relative;
    padding: auto;
    margin: auto;
    max-width: 500px;
}

form.example input[type=text] {
    font-size: 15px;
    border: 1px solid #282A35;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    text-align: center;
    background: white;
    border-radius: 25px;
}

form.example i {
    position: absolute;
    right: 7px;
    top: 10.5px;
    font-size: 23px;
}

#searchan {
    display: none;
    color: white;
    margin-right: 20px;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 25px !important;
    vertical-align: bottom;
}

.dtongthe{
    width: 950px;
    height: 1100px;
    background-color: aliceblue;
    margin: 0px auto;
    box-shadow: 5px 5px 5px wheat;
}
.noidung{
    padding-left:  50px;
}
.header{
    text-align: center;
}
.kinhgui{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
.camon{
    font-weight: bold;
    font-style: italic;
   
}
.end{
    display: flex;
    justify-content: space-between;
}
.xnca{
    margin-top: 50px; margin-left: 50px;
}
.xnca>h2:first-of-type{
    margin-left: 30px;
}
.xnca>p:first-of-type{
    font-style: italic; font-size: 22px;
}
.xnca>p:last-of-type{
    margin-left: 100px; font-size: 25px;font-family: 'Pacifico', cursive;
}
.xnca>h2:last-of-type{
    margin-left: 70px;font-family: 'Pacifico', cursive;
}
.nld>h2:nth-last-of-type(2){
    font-size: 25px; margin-left: 50px; font-family: 'Pacifico', cursive;
}
.nld>p:first-of-type{
    font-style: italic; font-size: 22px;
}
.nld>p:nth-of-type(2){
    font-style: italic; font-size: 22px;
    margin-left: 5px;
}
.nld>h2:last-of-type{
    font-family: 'Pacifico', cursive;
}
.kinhgui{
    text-align: center;
}
.hearder>h2:nth-last-of-type(2){
    text-decoration: underline;
}
footer{
  background-color: #38444d;
  color: white;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
}
footer > span{
  margin-left: 50px;
  font-size: 18px;
}
