
.head1{
    display: flex;
    /* width: 100%; */
    /* margin-right: auto;
    margin-left: auto; */
    justify-content: center;
}
h1{
    text-align: right;
    width: 100%;
}
ul{
    background-image: linear-gradient(to bottom right, rgb(73, 72, 72), rgb(225, 225, 217));
    /* color: black; */
    /* display: block; */
    margin-top: 10px;
    padding: 0px;
}
li{
    list-style: none;
    font-size: 24px;
    height: 20px;
    line-height: 20px;
    padding: 15px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    /* background-color: black; */
    color: aliceblue;
    background-color: black;
}
div.hotnews{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(91, 90, 89);
}
div.imgnews > img{
    width: 720px;
    height: 350px;
}
div.textnews> div.content{
    background-color: gray;
    font-size: 22px;
}
div.textnews{
    color: aliceblue;
    /* font-style: 50px; */
}
.news{
    display: flex;
    background-color: gray;
}
div.title{
    background-image: linear-gradient(to bottom , orange,yellow);
    color: black;
    font-size: 30px;
}
.item{
    float: left;
    width: 25%;
    
    display: block;
    background-color: grey;
}
div.item > div.title{
    margin-left: 5px;
}
div.forcontent{
    margin-left: 5px;
}
.forimg{
    margin-left: 5px;
}
